In [1]:
#list:-used to store multiple items in single variable
list1 = ["suhas", "daya", "mohan", "hemanth", "razak", "asif"]  #homogenous data
print(list1)

['suhas', 'daya', 'mohan', 'hemanth', 'razak', 'asif']

In [2]:
list2 = ["suhas", 45, 45.18, True, 45+18j]  #haterogenous data
print(list2)

['suhas', 45, 45.18, True, (45+18j)]

In [3]:
list3 = ["suhas", 45, "daya", 45, "daya"]  #duplicate values
print(list3)

['suhas', 45, 'daya', 45, 'daya']

In [4]:
list4 = ["suhas", "daya", "mohan", "hemanth", "razak", "asif"]  #type() function
print(list4)
print(type(list4))

['suhas', 'daya', 'mohan', 'hemanth', 'razak', 'asif']
<class 'list'>

In [5]:
list5 = ["suhas", "daya", "mohan", "hemanth", "razak", "asif"]  #len() function
print(list5)
print(len(list5))

['suhas', 'daya', 'mohan', 'hemanth', 'razak', 'asif']
6

In [6]:
list6 = list(("suhas", "daya", "mohan", "hemanth", "razak", "asif")) #list constructor list()
print(list6)
print(type(list6))

['suhas', 'daya', 'mohan', 'hemanth', 'razak', 'asif']
<class 'list'>

In [11]:
#accessing of list items
#list items are indexed we can access them by reffering index value indexing starts from 0.
#eg:- return the third item
list1 = ["suhas", "daya", "mohan", "hemanth", "razak", "asif"] 
print(list1[2])

#negative indexing
#indexing starts from last by -1
#eg:- return 45.18 by reffering -ve index
list2 = ["suhas", 45, 45.18, True, 45+18j]
print(list2[-3])

mohan
45.18

In [13]:
#range of index
#developer can specify range of index by specifying where to start and where to end the range and the return output will be the new list
#eg:- return the 3rd, 4th, 5th and 6th intem in a list
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list3[2:6])  #index value 2 included 6 not included
print(list3[:6]) #starts from index 0 to 5
print(list3[3:]) #starts from index 3 to last index
print(list3[:]) #returns the entire list

[3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
#check the list item wheter the item is present or not
#to verify the given list item in list present or not we can use the in keyword
#eg:- verify the "daya" is present in the list or not
list1 = ["suhas", "daya", "mohan", "hemanth", "razak", "asif"] 
if "daya" in list1:
    print("yes, the value present in the list")
else:
    print("No, the value not in the list")

list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
if 45 in list2:
    print("yes, the value present in the list")
else:
    print("No, the value not in the list")

yes, the value present in the list
No, the value not in the list

In [21]:
#change the list item
#eg:- change the value of daya - girish
list1 = ["suhas", "daya", "mohan", "hemanth", "razak", "asif"]
print(list1)
list1[1] = "girish"
print(list1)

list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list2)
list2[3] = 45
print(list2)

['suhas', 'daya', 'mohan', 'hemanth', 'razak', 'asif']
['suhas', 'girish', 'mohan', 'hemanth', 'razak', 'asif']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 45, 5, 6, 7, 8, 9]

In [23]:
#change the range of a item "daya", "mohan", "hemanth" to 45, 18, 10
list1 = ["suhas", "daya", "mohan", "hemanth", "razak", "asif"]
print(list1)
list1[1:4] = 45, 18, 10
print(list1)

['suhas', 'daya', 'mohan', 'hemanth', 'razak', 'asif']
['suhas', 45, 18, 10, 'razak', 'asif']

In [24]:
#list methods
#1.insert():- to insert the new item without replacing the exixting item in the list. insert() expected 2 arguments
#insert() method inserts the item in the specified index
#eg:- insert the "daya" as a 4th item
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
list1.insert(3, "daya")
print(list1)

['suhas', 'girish', 'rajak', 'daya', 'mohan', 'rohit']

In [25]:
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
list1.insert("daya")
print(list1)

TypeError: insert expected 2 arguments, got 1

In [7]:
#Adding of items
#2.append() method:- To add an item at the end of the list
#3.extend() method:- for adding another list item to the current list, not only onther list it is possible to add tuple, sets, dict etc..

list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
list1.append("sangu")
print(list1)
list2 = [1, 2, 3, 4, 5]
list3 = [6, 7, 8, 9]
list2.extend(list3)
print(list2)
list4 = ["suhas", 45, 10.7, True,]
tup1 = (1, 2, 3, 4)
list4.extend(tup1)
print(list4)

['suhas', 'girish', 'rajak', 'mohan', 'rohit', 'sangu']
[1, 2, 3, 4, 5, 6, 7, 8, 9]
['suhas', 45, 10.7, True, 1, 2, 3, 4]

In [8]:
#removing of items
#4.remove() method:- remove method removes the specified item, if duplicate items are present means it remvoves the first occurance.
#5.pop() method:- pop method removes the specified index valued item if index value is not specified the it removes the last item.
#6.del() statement:-removes the specified index valued item and we can delete the complete list.
#7.clear() method:- empties the list

list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
list1.remove("rajak")
print(list1)

['suhas', 'girish', 'mohan', 'rohit']

In [20]:
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
list1.pop(3)
print(list1)

['suhas', 'girish', 'rajak', 'mohan']

In [16]:
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
del list1[3]
print(list1)

['suhas', 'girish', 'rajak', 'rohit']

In [18]:
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
del list1
print(list1)

NameError: name 'list1' is not defined

In [19]:
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
list1.clear()
print(list1)

[]

In [1]:
#print all the list item line by line
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
for i in list1:
    print(i)

suhas
girish
rajak
mohan
rohit

In [7]:
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
for i in range(len(list1)):
    print(list1[i])

suhas
girish
rajak
mohan
rohit

In [9]:
#print all the list item line by line using while loop
list1 = ["suhas", "girish", "rajak", "mohan", "rohit"]
i=0
while i<len(list1):
    print(list1[i])
    i=i+1

suhas
girish
rajak
mohan
rohit

In [10]:
#sort() method : alphanumerically assending by default
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala"]
l1.sort()
print(l1)

['dhoni', 'hitman', 'king', 'kohli', 'rohit', 'thala']

In [11]:
l2 = [45, 18, 10, 7]
l2.sort()
print(l2)

[7, 10, 18, 45]

In [12]:
l2 = [45, 18, 10, 7]
l2.sort(reverse = True)
print(l2)

[45, 18, 10, 7]

In [13]:
def name(n):
    return abs(n-50)
l1 = [44, 50, 45, 60, 23, 80]
l1.sort(key = name)
print(l1)

[50, 45, 44, 60, 23, 80]

In [16]:
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala", "Zebra"]
l1.sort()
print(l1)

['Zebra', 'dhoni', 'hitman', 'king', 'kohli', 'rohit', 'thala']

In [24]:
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala", "Zebra"]
l1.sort(key = str.lower)
print(l1)

['dhoni', 'hitman', 'king', 'kohli', 'rohit', 'thala', 'Zebra']

In [19]:
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala", "Zebra"]
l1.reverse()
print(l1)

['Zebra', 'thala', 'dhoni', 'hitman', 'rohit', 'kohli', 'king']

In [25]:
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala", "Zebra"]
l2 = l1
l1.remove("king")
print(l1)
print(l2)

['kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']
['kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']

In [27]:
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala", "Zebra"]
l2 = l1[:]
l1.remove("king")
print(l1)
print(l2)

['kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']
['king', 'kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']

In [28]:
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala", "Zebra"]
l2 = list(l1)
l1.remove("king")
print(l1)
print(l2)

['kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']
['king', 'kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']

In [29]:
l1 = ["king", "kohli", "rohit", "hitman", "dhoni", "thala", "Zebra"]
l2 = l1.copy()
l1.remove("king")
print(l1)
print(l2)

['kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']
['king', 'kohli', 'rohit', 'hitman', 'dhoni', 'thala', 'Zebra']

In [32]:
l1 = ["rohit", "rahul", "virat", "dhoni", "sachin", "gill"]
l2 = [45, 1, 18, 7, 10, 77]
l3 = l1+l2
print(l3)

['rohit', 'rahul', 'virat', 'dhoni', 'sachin', 'gill', 45, 1, 18, 7, 10, 77]

In [37]:
l1 = ["rohit", "rahul", "virat", "dhoni", "sachin", "gill"]
l2 = [45, 1, 18, 7, 10, 77]
l1.extend(l2)
print(l1)

['rohit', 'rahul', 'virat', 'dhoni', 'sachin', 'gill', 45, 1, 18, 7, 10, 77]