In [3]:
tup1 = (10, 20, 30, 40, 50)
print(type(tup1))
print(tup1)

<class 'tuple'>
(10, 20, 30, 40, 50)

In [4]:
tup2 = (10, "rohit", 3.14, True, 10)
print(type(tup2))
print(tup2)

<class 'tuple'>
(10, 'rohit', 3.14, True, 10)

In [6]:
tup3 = (10)
tup4 = (10,)
print(type(tup3))
print(type(tup4))

<class 'int'>
<class 'tuple'>

In [15]:
#accessing tuple items
tup5 = (10, 20, 30, 40, 50)
print(tup5[0])   #indexing
tup6 = (10, 20, 30, 40, 50)
print(tup6[0:4]) #slicing

10
(10, 20, 30, 40)

In [24]:
#tuple operation
#concatination
tup1 = (1,2)
tup2 = (3,4)
tup3 = tup1 + tup2
print(tup3)

#repetation
tup4 = (1,2)
tup5 = tup4 * 3
print(tup5)

tup6 = (45, 18, 10)
print(45 in tup6)

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
True

In [25]:
#looping through a tuple

cricketers = ("rohit", "virat", "gill", "sachin", "rahul")
for cricket in cricketers:
    print(cricket)

rohit
virat
gill
sachin
rahul

In [30]:
#tuple method

#count() method
#index() method

cricketers = ("rohit", "virat", "gill", "sachin", "rahul", "rohit")
counting = cricketers.count('rohit')
print(counting)

tup1 = (10, 20, 30, 40, 50)
indexing = tup1.index(50)
print(indexing)

2
4