In [3]:
#string in python

#creation of string in python
s1 = 'well come'
print(type(s1))
print(s1)
s2 = "well come"
print(type(s2))
print(s2)
s3 = '''well come'''
print(type(s3))
print(s3)
s4 = """well come"""
print(type(s4))
print(s4)
s5 = "I'm girish"
print(type(s5))
print(s5)
s6 = """I'm learning "python"""
print(type(s6))
print(s6)
s7 = '''python is
           an amaging 
              programming language'''
print(type(s7))
print(s7)
'''s8 = 'I'm girish'
print(type(s8))
print(s8)'''

<class 'str'>
well come
<class 'str'>
well come
<class 'str'>
well come
<class 'str'>
well come
<class 'str'>
I'm girish
<class 'str'>
I'm learning "python
<class 'str'>
python is
           an amaging
              programming language

"s8 = 'I'm girish'\nprint(type(s8))\nprint(s8)"

In [20]:
#string inbuilt methods

s1 = "girsh"
print(s1.upper())
s2 = "GIRISH"
print(s2.lower())
s3 = "times of india"
print(s3.title())
s4 = "times of india"
print(s4.capitalize())
s5 = "girish suhas akshay"
print(s5.split())
s6 = "gIrIsH"
print(s6.swapcase())
print("I'm learning {}".format("python"))

GIRSH
girish
Times Of India
Times of india
['girish', 'suhas', 'akshay']
GiRiSh
I'm learning python

In [25]:
#sting formating

s1 = "java"
s2 = "python"
s3 = "sql"
print("{}, {}, {} are amazing programming languages.".format(s1, s2, s3))

java, python, sql are amazing programming languages.

In [26]:
s1 = "java"
s2 = "python"
s3 = "sql"
print("{}, {}, {} are amazing programming languages.".format(s2, s1, s3))

python, java, sql are amazing programming languages.

In [27]:
s1 = "java"
s2 = "python"
s3 = "sql"
print("{1}, {2}, {0} are amazing programming languages.".format(s1, s2, s3))

python, sql, java are amazing programming languages.

In [32]:
#comparision of string

s1 = "hello"
print(id(s1[1]))
print(id(s1[2]))
print(id(s1[3]))
s2 = "world"
print(id(s2[2]))
print(id(s2[3]))

140734660149408
140734660149744
140734660149744
140734660150032
140734660149744

In [38]:
s1 = "girish"
s2 = "GIRISH"
if s1 == s2:
    print("values are equal")
else:
    print("values are not equal")
if id(s1) == id(s2):
    print("Id's are equal")
else:
    print("Id's are not equal")

values are not equal
Id's are not equal

In [40]:
s1 = "girish"
s2 = "girish"
if s1 == s2:
    print("values are equal")
else:
    print("values are not equal")
if id(s1) == id(s2):
    print("Id's are equal")
else:
    print("Id's are not equal")

values are equal
Id's are equal

In [41]:
s1 = "girish"
s2 = "girish"
s1.upper()
s2.upper()
if s1 == s2:
    print("values are equal")
else:
    print("values are not equal")
if id(s1) == id(s2):
    print("Id's are equal")
else:
    print("Id's are not equal")

values are equal
Id's are equal