In [15]:
#sets:- To store multiple elemnts in a single variable

set1 = {1, "rohit", True, 264.45, 45+18j}
print(set1)
print(type(set1))

{264.45, 1, (45+18j), 'rohit'}
<class 'set'>

In [18]:
set1 = {1, "rohit", True, 264.45, 45+18j}
set1[1] = "virat"
print(set1)

TypeError: 'set' object does not support item assignment

In [27]:
set1 = {1, "rohit", True, 264.45, 45+18j}
print(set1[1:4])

TypeError: 'set' object is not subscriptable

In [28]:
#set methods
#1.add():- To add one element to a set.
#2.update():-To add many elements to a set.
#3.pop():-To remove any one random elemnts from a set.
#4.remove():- removes the entered value if duplicate are present it will remove duplicate value also.
#5.discard():-same as remove() method if entered value not present means it will return output as same set but in remove method it will return error.
#6.clear():- To make set Empty
#7.len():-gives the length of set if duplicate value present means it will considered once

In [30]:
#1.add():- To add one element to a set.

set1 = {1, "rohit", True, 264.45, 45+18j}
set1.add("virat")
print(set1)

{1, (45+18j), 'virat', 'rohit', 264.45}

In [32]:
#2.update():-To add many elements to a set.

set1 = {1, "rohit", True, 264.45, 45+18j}
set1.update(["virat", 18, False])
print(set1)

{False, 1, (45+18j), 'virat', 'rohit', 264.45, 18}

In [36]:
#3.pop():-To remove any one random elemnts from a set.
set1 = {1, "rohit", "virat", 264.45, 45+18j}
set1.pop()
print(set1)

{(45+18j), 'virat', 'rohit', 264.45}

In [37]:
#4.remove():- removes the entered value if duplicate are present it will remove duplicate value also.

set1 = {1, "rohit", "virat", 264.45, 45+18j, "virat"}
set1.remove("virat")
print(set1)

{1, (45+18j), 'rohit', 264.45}

In [38]:
set1 = {1, "rohit", "virat", 264.45, 45+18j, "virat"}
set1.remove("rahul")
print(set1)

KeyError: 'rahul'

In [39]:
#5.discard():-same as remove() method if entered value not present means it will return output as same set but in remove method it will return error.

set1 = {1, "rohit", "virat", 264.45, 45+18j, "virat"}
set1.discard("virat")
print(set1)

{1, (45+18j), 'rohit', 264.45}

In [40]:
set1 = {1, "rohit", "virat", 264.45, 45+18j, "virat"}
set1.discard("rahul")
print(set1)

{1, (45+18j), 'virat', 'rohit', 264.45}

In [41]:
#6.clear():- To make set Empty

set1 = {1, "rohit", "virat", 264.45, 45+18j, "virat"}
set1.clear()
print(set1)
print(type(set1))

set()
<class 'set'>

In [43]:
#7.len():-gives the length of set if duplicate value present means it will considered once

set1 = {1, "rohit", "virat", 264.45, 45+18j, "virat"}
print(len(set1))

5